[flake8]
ignore = D203,D101,D400,D401,D106,W503,F403,F405,E501,D403,D104,C101,D100,D105,D103,D102
exclude =
    .git,
    __pycache__,
    venv
filename = *.py
application-import-names =
    thenewboston
accept-encodings = utf-8,utf-16
import-order-style = pycharm
inline-quotes = single
max-complexity = 12
max-line-length = 120
max-linenumber = 500
multiline-quotes = double